In [1]:
import random

# Definimos los 10 colores
colores = input("Introduce 10 colores separados por comas: ").split(',')

# Elegimos un color aleatorio del conjunto
color_seleccionado = random.choice(colores)

# Función lambda para verificar si el intento es correcto
adivinanza = lambda intento: intento.strip().lower() == color_seleccionado.lower()

# Máximo de intentos
max_intentos = 10

# Proceso de adivinanza
print("¡He pensado en un color! Tienes 10 intentos para adivinarlo.")

for intento in range(1, max_intentos + 1):
    color_intento = input(f"Intento {intento}: ").strip().lower()

    if adivinanza(color_intento):
        print(f"¡Felicidades! Adivinaste el color en {intento} intentos.")
        break
    else:
        if intento < max_intentos:
            print("Intenta de nuevo.")
        else:
            print(f"Lo siento, no adivinaste el color. El color correcto era: {color_seleccionado}")

Introduce 10 colores separados por comas: azul,negro,amarillo,blanco,rojo,verde,rosado,morado,cafe,gris
¡He pensado en un color! Tienes 10 intentos para adivinarlo.
Intento 1: negro
Intenta de nuevo.
Intento 2: azul
Intenta de nuevo.
Intento 3: verde
Intenta de nuevo.
Intento 4: negro
Intenta de nuevo.
Intento 5: rosado
¡Felicidades! Adivinaste el color en 5 intentos.

In [2]:
# Usamos la función filter() con una lambda para obtener los números pares
numeros_pares = list(filter(lambda x: x % 2 == 0, range(1, 101)))

# Mostramos los números pares
print(numeros_pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [3]:
# Función que usa lambda para calcular la suma de los dígitos de un número
numero = 12345

# Convertimos el número a una lista de dígitos, y luego aplicamos lambda para sumarlos
suma_digitos = sum(map(lambda x: int(x), str(numero)))

# Mostramos el resultado
print("La suma de los dígitos de", numero, "es:", suma_digitos)

La suma de los dígitos de 12345 es: 15

In [4]:
# Función lambda para verificar si un número es primo
numero = 29

# Función que usa lambda para verificar si el número es primo
es_primo = lambda n: n > 1 and all(n % i != 0 for i in range(2, int(n**0.5) + 1))

# Verificamos si el número es primo
if es_primo(numero):
    print(f"{numero} es un número primo.")
else:
    print(f"{numero} no es un número primo.")

29 es un número primo.

In [5]:
# Función lambda para imprimir un triángulo con asteriscos
altura = 5  # Puedes cambiar el valor de altura para variar el tamaño del triángulo

# Usamos map y lambda para crear y mostrar el patrón de triángulo
triangulo = list(map(lambda i: print('*' * (i + 1)), range(altura)))

*
**
***
****
*****

In [6]:
# Establecemos la altura del triángulo
altura = 5  # Puedes cambiar este valor para ajustar el tamaño del triángulo

# Usamos map y lambda para generar e imprimir el patrón de triángulo
list(map(lambda i: print('*' * (i + 1)), range(altura)))

*
**
***
****
*****

[None, None, None, None, None]

In [7]:
# Usamos lambda para imprimir las tablas de multiplicar del 1 al 10
for i in range(1, 11):
    # Usamos map con lambda para calcular y mostrar cada multiplicación
    list(map(lambda j: print(f"{i} x {j} = {i * j}"), range(1, 11)))
    print()  # Línea en blanco para separar cada tabla

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [9]:
# Función para encontrar todos los números perfectos hasta n
n = 10000  # Puedes cambiar este valor de n según el límite que desees

# Función lambda para verificar si un número es perfecto
es_perfecto = lambda num: num == sum(i for i in range(1, num) if num % i == 0)

# Encuentra todos los números perfectos hasta n
numeros_perfectos = [i for i in range(2, n+1) if es_perfecto(i)]

# Mostrar los resultados
print(f"Los números perfectos hasta {n} son: {numeros_perfectos}")

Los números perfectos hasta 10000 son: [6, 28, 496, 8128]

In [10]:
# Definimos la altura máxima del diamante (puedes ajustarla)
altura = 5

# Generamos la parte superior del diamante (triángulo)
for i in range(1, altura + 1):
    print(' ' * (altura - i) + '*' * (2 * i - 1))

# Generamos la parte inferior del diamante (invertido)
for i in range(altura - 1, 0, -1):
    print(' ' * (altura - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [11]:
# Definimos el límite n hasta el cual buscaremos los números Armstrong
n = 10000  # Puedes cambiar este valor para buscar hasta un número diferente

# Función lambda para verificar si un número es Armstrong
es_armstrong = lambda num: num == sum(int(digit) ** len(str(num)) for digit in str(num))

# Encontramos todos los números Armstrong hasta n
numeros_armstrong = [i for i in range(1, n+1) if es_armstrong(i)]

# Mostramos los números Armstrong encontrados
print(f"Los números Armstrong hasta {n} son: {numeros_armstrong}")

Los números Armstrong hasta 10000 son: [1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [ ]:
import time

# Función lambda para formatear la hora, minutos y segundos en formato digital
mostrar_reloj = lambda h, m, s: print(f"{h:02}:{m:02}:{s:02}")

# Establecemos el tiempo máximo en segundos (ej. 10 minutos = 600 segundos)
tiempo_total = 10 * 60  # 10 minutos

# Inicializamos las horas, minutos y segundos
horas, minutos, segundos = 0, 0, 0

# Comenzamos el ciclo para simular el reloj digital
for _ in range(tiempo_total):
    mostrar_reloj(horas, minutos, segundos)
    time.sleep(1)  # Espera 1 segundo

    # Actualizamos los segundos
    segundos += 1

    # Si los segundos llegan a 60, se resetean a 0 y aumentan los minutos
    if segundos == 60:
        segundos = 0
        minutos += 1

    # Si los minutos llegan a 60, se resetean a 0 y aumentan las horas
    if minutos == 60:
        minutos = 0
        horas += 1

00:00:00
00:00:01
00:00:02
00:00:03
00:00:04
00:00:05
00:00:06
00:00:07
00:00:08
00:00:09
00:00:10
00:00:11
00:00:12
00:00:13
00:00:14
00:00:15
00:00:16
00:00:17
00:00:18
00:00:19
00:00:20
00:00:21
00:00:22
00:00:23
00:00:24
00:00:25
00:00:26
00:00:27
00:00:28
00:00:29
00:00:30
00:00:31
00:00:32
00:00:33
00:00:34
00:00:35
00:00:36
00:00:37
00:00:38
00:00:39
00:00:40
00:00:41
00:00:42
00:00:43
00:00:44
00:00:45
00:00:46
00:00:47
00:00:48
00:00:49
00:00:50
00:00:51
00:00:52
00:00:53
00:00:54
00:00:55
00:00:56
00:00:57
00:00:58
00:00:59
00:01:00
00:01:01
00:01:02
00:01:03
00:01:04
00:01:05
00:01:06
00:01:07
00:01:08
00:01:09
00:01:10
00:01:11
00:01:12
00:01:13
00:01:14
00:01:15
00:01:16
00:01:17
00:01:18
00:01:19
00:01:20
00:01:21
00:01:22
00:01:23
00:01:24
00:01:25
00:01:26
00:01:27
00:01:28
00:01:29
00:01:30
00:01:31
00:01:32
00:01:33
00:01:34
00:01:35
00:01:36
00:01:37
00:01:38
00:01:39
00:01:40
00:01:41
00:01:42
00:01:43
00:01:44
00:01:45
00:01:46
00:01:47
00:01:48
00:01:49
00:01:50
00:01:51
00:01:52
00:01:53
00:01:54
00:01:55
00:01:56
00:01:57
00:01:58
00:01:59
00:02:00
00:02:01
00:02:02
00:02:03
00:02:04
00:02:05
00:02:06
00:02:07
00:02:08
00:02:09
00:02:10
00:02:11
00:02:12
00:02:13
00:02:14
00:02:15
00:02:16
00:02:17
00:02:18
00:02:19
00:02:20
00:02:21
00:02:22
00:02:23
00:02:24
00:02:25
00:02:26
00:02:27
00:02:28
00:02:29
00:02:30
00:02:31
00:02:32
00:02:33
00:02:34
00:02:35
00:02:36
00:02:37
00:02:38
00:02:39
00:02:40
00:02:41
00:02:42
00:02:43
00:02:44
00:02:45
00:02:46
00:02:47

ANA VALERIA GARCÍA LOZAN0/U00182087